<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Creditos</title>
    </head>
<body>
    <h1 class="Creditos_H1">Creditos</h1>
<!--Aqui agregamos en una lista; Si hay conflicto en git: Agrega mi nombre en la parte que consideres
conveniente de la lista :D-->
    <section>
        <ul>
            <li>Leileni</li>
            <li>Hola soy Aurora</li>
            <li>Saúl V. Navas</li>
            <li>Pedro Martinez</li>
        </ul>
    </section>
</body>
</html>
