<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Creditos</title>
    </head>
<body>
    <h1 id="encabezado-principal">Creditos</h1>
    <h3 id="equipo">Equipo 3</h3>
        <hr>
        <section>
            <table id="tabla-nom">
                <thead>
                    <tr>
                        <th>Leileni Ollivier Carreño</th>
                        <th>Aurora Vázquez Robles</th>
                        <th>Saúl Vega Navas</th>
                        <th>Pedro Martínez Limón</th>
                        <th>Ángel Gabriel Munguía Reyes</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>Considero un manjar las fresas con chocolate</p></td>
                        <td><p>Soy Aurora y amo bailar y los chilaquiles verdes</p></td>
                        <td><p>Me gusta ver películas y dibujar</p></td>
                        <td><p>Soy Pedro, me gusta leer e ir al gym</p></td>
                        <td><p>Soy Ángel, me gusta el canto, las matematicas y pasar tiempo en la iglesia</p></td>
                    </tr>
                </tbody>
            </table>
        </section>
</body>
</html>
