<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Styles/creditos.css">

    <title>Creditos</title>
</head>
<body>
    <h1 id="encabezado-principal">Creditos</h1>
        <hr>
        <section>
            <br>
            <table id="tabla-nom">
                <thead>
                    <tr>
                        <th>Leileni Ollivier Carreño</th>
                        <th> Aurora Vázquez Robles</th>
                        <th>Saúl Vega Navas</th>
                        <th>Pedro Martínez Limón</th>
                        <th>Ángelito</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>Considero un manjar las fresas con chocolate</p></td>
                        <td><p>Amo bailar y los chilaquiles verdes</p></td>
                        <td><p>Tu descripción :D</p></td>
                        <td><p>Me gusta leer y programar</p></td>
                        <td><p>Tu descripción :D</p></td>
                    </tr>
                </tbody>
            </table>
        </section>
</body>
</html>