<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img href="">
        Nombre de usuario
        <img href="" id="imgUsuario">
    </header>
    <nav>
        <div>
            <a href="">Mi playlist<img href=""></a>
        </div>
        <div>
            <a href="">Búsqueda<img href=""></a>
        </div>
    </nav>
    <section>
        <button>Canbiar nombre</button>
        <button>Cambiar cara</button>
    </section>
    <footer>
        <div id="reproductor">
            <div id="infoReproductor">
                <p>Tu Rolita</p>
                <p>Artista</p>
                <img href="barra">
                <div id="botones">
                    <img id="previo">
                    <img id="play">
                    <img id="siguiente">
                </div>
            </div>
            <iframe video="cancionActual"></iframe>
        </div>
    </footer>
</body>
</html>