<!--PLAYLIST-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img href="">
        Lapse
    </header>
    <nav>
        <div id="nav_user" class="nav_option">
            <a class="nav_option_content" href="">
                Mi Usuario
                <img class="nav_option_icon" href="">
            </a>
        </div>
        <div id="nav_search" class="nav_option">
            <a class="nav_option_content" href="">
                Búsqueda
                <img class="nav_option_icon" href="">
            </a>
        </div>
    </nav>
    <hr class="nav_line">
    <section>
        <div id="info_list_headers">
            <span>Canción</span>
            <span>Artista</span>
            <span>Álbum</span>
        </div>
        <div id="playlist_container">
            <div class="playlist_song">
                <div>
                    <img class="playlist_song_img">
                    <span>Nombre</span>
                </div>
                <span>Artista</span>
                <span>Álbum</span>
            </div>
            <div class="playlist_song">
                <div>
                    <img class="playlist_song_img">
                    <span>Nombre</span>
                </div>
                <span>Artista</span>
                <span>Álbum</span>
            </div>
            <div class="playlist_song">
                <div>
                    <img class="playlist_song_img">
                    <span>Nombre</span>
                </div>
                <span>Artista</span>
                <span>Álbum</span>
            </div>
        </div>
    </section>
    <aside class="player_aside">
        <div id="player">
            <iframe class="player_video" video="cancionActual"></iframe>
            <div id="player_info">
                <p class="player_song_name">Tu Rolita</p>
                <p class="player_artist_name">Artista</p>
                <img class="player_bar" href="barra">
                <div id="player_button_container">
                    <img id="player_previous_Btn" class="player_btn">
                    <img id="player_play_Pause_Btn" class="player_btn">
                    <img id="player_next_Btn" class="player_btn">
                </div>
            </div>
        </div>
        <img class="lapsy" href="estrella">
    </aside>
</body>
</html>