<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img href="">
        Lapse
    </header>
    <nav>
        <div>
            <a href="">Mi playlist<img href=""></a>
        </div>
        <div>
            <a href="">Mi Usuario<img href=""></a>
        </div>
    </nav>
    <section>
        <div id="playlist_artista_cancion"> </div>
        <div id="lista_busqueda">

        </div>
    </section>
    <aside>
        <img href="estrella">
        <div id="reproductor">
            <div id="infoReproductor">
                <p>Tu Rolita</p>
                <p>Artista</p>
                <img href="barra">
                <div id="botones">
                    <img id="previo">
                    <img id="play">
                    <img id="siguiente">
                </div>
            </div>
            <iframe video="cancionActual"></iframe>
        </div>
    </aside>
</body>
</html>