<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="mensajeBienvenida">
        <div>
            <p>Lapse</p>
        </div>
        <div>
            <h1>Te ayudamos ...</h1>
            <h2>Encuentra ...</h2>
        </div>
    </section>
    <sidebar>
        <div>
            <h1>Iniciar sesión</h1>
            <p>No tienes cuenta?</p>
            <p>Toma menos de 5 min</p>
        </div>
        <form>
            <input type="text">
            <input type="text">
            <button>Submit</button>
        </form>
        <div>
            <img href="estrella">
        </div>
    </sidebar>
</body>
</html>