<!--LOG IN-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Styles/principal.css">
    <title>Inicio Sesión</title>
</head>
<body>
    <section id="login_welcome">
        <div id="login_content_wrapper"> 
            <div id="login_welcome_logo">
                <h1 class="header_text_icon">Lapse</h1>
            </div>
            <div id="login_welcome_text">
                <h1>Te ayudamos <br>a encontrar <br> los mejores beats</h1>
                <h2>Encuentra tu música en un solo lugar</h2>
            </div>
        </div>
        <img src="../Statics/Media/img/Dunas_login.png" class="login_welcome_img">
    </section>
<!-----------------------------------Login area--------------------------------------->
    <sidebar id="login_sidebar">
        <div id="login_sidebar_text">
            <h1>Iniciar sesión</h1>
            <p>¿No tienes cuenta? 
            <h3>Crea una nueva cuenta ahora</h3>
            <p>Toma menos de 5 min</p>
            <a href="C:\xampp\htdocs\ENP6-CW25-E3\Templates\credits_page.html">Creditos</a>
        </div>
        <form id="login_sidebar_form">
            <input type="text" class="login_input" id="login_name_input" placeholder="Nombre de usuario" required>
            <input type="text" class="login_input" id="login_mail_input" placeholder="Email" required>
            <input type="text" class="login_input" id="login_pswd_input" placeholder="Contraseña" required>
            
            <button type="submit" required>Registrarse</button>
            <span id="error-area"></span>
        </form>
        <div id="login_sidebar_img">
            <img class="lapsy" src="../Statics/Media/img/estrellita.png" alt="Estrella">
        </div>
    </sidebar>

    <script src="../Dynamics/JS/lapse_cookies.js"></script>
    <script src="../Dynamics/JS/login_page.js"></script>
</body>
</html>