<!--LOG IN-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="login_welcome">
        <img id="login_bg_img" href="">
        <div id="login_welcome_logo">
            <p>Lapse</p>
        </div>
        <div id="login_welcome_text">
            <h1>Te ayudamos ...</h1>
            <h2>Encuentra ...</h2>
        </div>
    </section>
    <sidebar id="login_sidebar">
        <div id="login_sidebar_text">
            <h1>Iniciar sesión</h1>
            <p>No tienes cuenta?</p>
            <p>Toma menos de 5 min</p>
        </div>
        <form id="login_sidebar_form">
            <input type="text" class="login_input" id="login_mail_input" placeholder="Email" required>
            <input type="text" class="login_input" id="login_name_input" placeholder="Nombre_de_usuario" required>
            <input type="text" class="login_input" id="login_pswd_input" placeholder="Contraseña" required>
            
            <button type="submit" required>Registrarse</button>
            <span id="error-area"></span>
        </form>
        <div id="login_sidebar_img">
            <img class="lapsy" href="estrella">   
        </div>
    </sidebar>

    <script src="../Dynamics/log_in_page.js"></script>
</body>
</html>