<!--PLAYLIST-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Styles/principal.css">
    <title>Lapse Playlist</title>
</head>
<body>
    <header class="small_header">
       <img src="../Statics/Media/img/header_img.png" class="header_img">
       <h1 class="header_text">Lapse</h1>
    </header>

    <nav id="playlist_nav">
        <div id="nav_user" class="nav_option">
            <a class="nav_option_content" href="">
                Mi Usuario
                <img class="nav_option_icon" href="">
            </a>
        </div>
        <div id="nav_search" class="nav_option">
            <a class="nav_option_content" href="">
                Búsqueda
                <img class="nav_option_icon" href="">
            </a>
        </div>
    </nav>
    <hr class="nav_line">
    <div class="main_container">
    <section>
        <div id="info_list_headers" class="nav_option">
            <span>Canción</span>
            <span>Artista</span>
            <span>Álbum</span>
        </div>
        <div id="playlist_container">
            <div class="playlist_song">
                <div class="background_song_image">
                    <img class="playlist_song_img" href="">
                </div>
                <span>Nombre</span>
                <span>Artista</span>
                <span>Álbum</span>
            </div>
            <div class="playlist_song">
                <div class="background_song_image">
                    <img class="playlist_song_img">
                </div>
                <span>Nombre</span>
                <span>Artista</span>
                <span>Álbum</span>
            </div>
            <div class="playlist_song">
                <div class="background_song_image">
                    <img class="playlist_song_img">
                </div>
                <span>Nombre</span>
                <span>Artista</span>
                <span>Álbum</span>
            </div>
            <div class="playlist_song">
                <div class="background_song_image">
                    <img class="playlist_song_img">
                </div>
                <span>Nombre</span>
                <span>Artista</span>
                <span>Álbum</span>
            </div>
        </div>
    </section>
    <aside class="player_aside">
            <div id="player" class="player_video"></div>
            <div class="player_infoReproductor">
                <p class="Name"></p>
                <p class="Artist"></p>
                <div class="progress-container">
                    <span id="currentTime">0:00</span>
                    <input type="range" id="seekBar" value="0" step="1">
                    <span id="duration">0:00</span>
                </div>
                <div id="botones">
                    <img id="previo" src="../Statics/Media/img/back (1).png" alt="Anterior">
                    <img id="play" src="../Statics/Media/img/play.png" alt="Reproducir/Pausar">
                    <img id="siguiente" src="../Statics/Media/img/next.png" alt="Siguiente">

                    <button id="muteBtn">🔊</button>
                    <input type="range" id="volumeSlider" min="0" max="100" value="100">
                </div>
            </div>
        <img src="../Statics/Media/img/estrellita.png" class="lapsy">
        </div>
    </aside>
    <script src="../Dynamics/JS/database_JSON.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="../Dynamics/JS/reproductor.js"></script>
</body>
</html>