<!--HOME-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="small_header">
        <img href="">
        Lapse
    </header>
    <nav id="home_nav" class="nav_style">
        <div id="nav_playlist" class="nav_option">
            <a class="nav_option_content" href="">
                Mi playlist
                <img class="nav_option_icon" href="">
            </a>
        </div>
        <div id="nav_search" class="nav_option">
            <a class="nav_option_content" href="">
                Búsqueda
                <img class="nav_option_icon" href="">
            </a>
        </div>
        <div id="nav_user" class="nav_option">
            <a class="nav_option_content" href="">
                Mi Usuario
                <img class="nav_option_icon" href="">
            </a>
        </div>
    </nav>
    <hr class="nav_line">
    <section id="home_section">
        <article class="home_article">
            <div class="home_article_title">Recomendaciones</div>
            <div class="home_song_container">
                <div class="home_song_square">
                    <img href="portada1" id="home_song">
                    <br>
                    Pie de imagen
                </div>
                <div class="home_song_square">
                    <img href="portada2" id="home_song">
                    <br>
                    Pie de imagen
                </div>
            </div>
        </article>
    </section>
    <footer>
        <img class="lapsy" href="estrella">
        <div id="player">
            <div id="player_info">
                <p class="player_song_name">Tu Rolita</p>
                <p class="player_artist_name">Artista</p>
                <img class="player_bar" href="barra">
                <div id="player_button_container">
                    <img id="player_previous_Btn" class="player_btn">
                    <img id="player_play_Pause_Btn" class="player_btn">
                    <img id="player_next_Btn" class="player_btn">
                </div>
            </div>
            <iframe class="player_video" video="cancionActual"></iframe>
        </div>
    </footer>
</body>
</html>