<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="small_header">
        <img href="">
        Lapse
    </header>
    <nav id="home_nav" class="nav_style">
        <div class="nav_button">
            <a href="">Mi playlist<img href=""></a>
        </div>
        <div class="nav_button">
            <a href="">Búsqueda<img href=""></a>
        </div>
        <div class="nav_button">
            <a href="">Mi Usuario<img href=""></a>
        </div>
    </nav>
    <section id="home_section">
        <article class="home_article">
            <div class="home_article_title">Recomendaciones</div>
            <div class="home_song_container">
                <div class="home_song_square">
                    <img href="" id="home_song">
                    <br>
                    Pie de imagen
                </div>
                <div class="home_song_square">
                    <img href="" id="home_song">
                    <br>
                    Pie de imagen
                </div>
            </div>
        </article>
    </section>
    <footer>
            <img href="estrella">
            <div id="reproductor">
                <div id="infoReproductor">
                    <p>Tu Rolita</p>
                    <p>Artista</p>
                    <img href="barra">
                    <div id="botones">
                        <img id="previo">
                        <img id="play">
                        <img id="siguiente">
                    </div>
                </div>
                <iframe video="cancionActual"></iframe>
            </div>
        </footer>
</body>
</html>