<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img href="">
        Lapse
    </header>
    <nav>
        <div>
            <a href="">Mi playlist<img href=""></a>
        </div>
        <div>
            <a href="">Búsqueda<img href=""></a>
        </div>
        <div>
            <a href="">Mi Usuario<img href=""></a>
        </div>
    </nav>
    <section>
        <article>
            <div>Recomendaciones</div>
            <div class="contenedorPortadas">
                <div class="cancion">
                    <img href="">
                    <br>
                    Pie de imagen
                </div>
                <div class="cancion">
                    <img href="">
                    <br>
                    Pie de imagen
                </div>
            </div>
        </article>
    </section>
    <footer>
            <img href="estrella">
            <div id="reproductor">
                <div id="infoReproductor">
                    <p>Tu Rolita</p>
                    <p>Artista</p>
                    <img href="barra">
                    <div id="botones">
                        <img id="previo">
                        <img id="play">
                        <img id="siguiente">
                    </div>
                </div>
                <iframe video="cancionActual"></iframe>
            </div>
        </footer>
</body>
</html>