<!--SEARCH-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Styles/principal.css">
    <title>Lapse Buscador </title>
</head>
<body>
    <header class="small_header">
        <img src="../Statics/Media/img/header_img.png" class="header_img">
        <h1 class="header_text">Lapse</h1>
    </header>
    
    <nav id="search_nav">
        <div id="nav_playlist" class="nav_option">
            <a class="nav_option_content" href="playlist_page.html">
                Mi playlist
                <img class="nav_option_icon" href="">
            </a>
        </div>
        <div id="nav_user" class="nav_option">
            <a class="nav_option_content" href="">
                Mi Usuario
                <img class="nav_option_icon" href="">
            </a>
        </div>
    </nav>
    <hr class="nav_line">
    <section>
    <div class="main_container">
    <section class=player_section>
        <div id="search_input">
            <input type="text" id="search-text" placeholder="Buscar algo...">
        </div>
        <div id="search_button_container">
            <button id="search_playlist_btn">Playlist</button>
            <button id="search_artist_btn">Artistas</button>
            <button id="search_song_btn">Canciones</button>
        </div>
        
        <div id="search_result">
            
        </div>

    </section>
    <aside class="player_aside">
        <div id="player">
            <iframe class="player_video" video="cancionActual"></iframe>
            <div class="player_infoReproductor">
                <p class="player_song_name">Tu Rolita</p>
                <p class="player_artist_name">Artista</p>
                <img class="player_bar" src="../Statics/Media/img/progress.png">
                <div class="player_button_container">
                    <img id="player_previous_Btn" class="player_btn" src="../Statics/Media/img/back (1).png">
                    <img id="player_play_Pause_Btn" class="player_btn" src="../Statics/Media/img/play.png">
                    <img id="player_next_Btn" class="player_btn" src="../Statics/Media/img/next.png">
                </div>
            </div>
        </div>
        <img src="../Statics/Media/img/estrellita.png" class="lapsy">
    </aside>
    </div>
    <script src="../Dynamics/JS/search_test.js" type="module"></script>
    <script src="../Dynamics/JS/database_JSON.js"></script>
</body>
</html>