<!--SEARCH-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img href="">
        Lapse
    </header>
    <hr class="nav_line">
    <nav>
        <div id="nav_playlist" class="nav_option">
            <a class="nav_option_content" href="">
                Mi playlist
                <img class="nav_option_icon" href="">
            </a>
        </div>
        <div id="nav_user" class="nav_option">
            <a class="nav_option_content" href="">
                Mi Usuario
                <img class="nav_option_icon" href="">
            </a>
        </div>
    </nav>
    <hr class="nav_line">
    <section>
        <input type="text" id="search-text" placeholder="Busca algo">

        <div id="search_button_container">
            <button id="search_playlist_btn">Playlist</button>
            <button id="search_artist_btn">Artistas</button>
            <button id="search_song_btn">Canciones</button>
        </div>
        <div id="search_song_list">
            <div class="search_song_name">
                <p>Tu rolita - Artista</p>
                <img class="search_song_favourite_star">
            </div>
            <div class="search_song_name">
                <p>Tu rolita - Artista</p>
                <img class="search_song_favourite_star">
            </div>
            <div class="search_song_name">
                <p>Tu rolita - Artista</p>
                <img class="search_song_favourite_star">
            </div>
        </div>
    </section>
    <aside class="player_aside">
        <div id="player">
            <iframe class="player_video" video="cancionActual"></iframe>
            <div id="player_info">
                <p class="player_song_name">Tu Rolita</p>
                <p class="player_artist_name">Artista</p>
                <img class="player_bar" href="barra">
                <div id="player_button_container">
                    <img id="player_previous_Btn" class="player_btn">
                    <img id="player_play_Pause_Btn" class="player_btn">
                    <img id="player_next_Btn" class="player_btn">
                </div>
            </div>
        </div>
        <img class="lapsy" href="estrella">
    </aside>
</body>
</html>