<!--USER-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header id="big_header">
        <img id="big_header_bg" href="">
        Nombre de usuario
        <img href="" id="user_img">
    </header>
    <nav>
        <div id="nav_playlist" class="nav_option">
            <a class="nav_option_content" href="">
                Mi Playlist
                <img class="nav_option_icon" href="">
            </a>
        </div>
        <div id="nav_search" class="nav_option">
            <a class="nav_option_content" href="">
                Búsqueda
                <img class="nav_option_icon" href="">
            </a>
        </div>
    </nav>
    <hr class="nav_line">
    <section id="user_config_buttons">
        <button id="changeNameBtn" class="user_config_btn">Canbiar nombre</button>
        <button id="changeFaceBtn" class="user_config_btn">Cambiar cara</button>
    </section>
    <footer>
        <div id="reproductor">
            <div id="infoReproductor">
                <p>Tu Rolita</p>
                <p>Artista</p>
                <imgc href="barra">
                <div id="botones">
                    <img id="previo">
                    <img id="play">
                    <img id="siguiente">
                </div>
            </div>
            <iframe video="cancionActual"></iframe>
        </div>
    </footer>
</body>
</html>